*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(1, 24, 43);
    overflow-x: hidden;
}

#movie-name{
    color: rgb(255, 241, 38);
    text-align: center;
    text-transform: uppercase;
    margin-top: 5%;
}

main{
    width: 95vw;
    margin: 3%;
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

main img{
    width: 30%;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}


.details{
    width: 40%;
    color: white;
    font-size: 1.4rem;
    margin-left: 5%;
    flex-wrap: wrap;
    border-left: 2px solid white;
    padding-left: 3%;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding-top: 3%;
    padding-bottom: 3%;
}

span{
    display: flex;
    text-transform: uppercase;
    margin-top: 10px;
    color: rgb(255, 238, 0);
}

span p{
    margin-left: 15px;
    font-size: 1.3rem;
    color: white;
    /* margin-top: 4px; */
    text-transform: capitalize;
}

#plotHeading{
    color: rgb(255, 230, 9);
    font-size: 2rem;
    text-transform: uppercase;
    margin-left: 4%;
}

#plot{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin: 2% 5% 5% 5%;
}

/* Rating Section */

#rating-box-container{
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 8%; */
    justify-content:space-evenly;
    align-items: center;
}

.rating-box{
    color: white;
    border: 2px solid white;
    width: 125px;
    height: 125px;
    padding: 15px;
    text-align: center;
    margin-left: 15px;
    box-shadow: 0 4px 8px 0 rgba(255, 1, 1, 0.2), 0 6px 20px 0 rgba(255, 4, 4, 0.795);
}

.rated-by{
    margin-top: 20%;
    text-transform: uppercase;
    word-wrap: break-word;
    margin-bottom: 5%;
}

.rated-value{
    font-size: 1.4rem;
    color: yellow;
}